:root{
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;

    --header-height: 120px;
    --navbar-height: 30px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Responsive */
.grid {
    /* width: 1200px; */
    width: 980px;

    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}

.grid__row{
    display:flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px
}
/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

/* Can 5 cot => 12/5 = 2.4 */
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Can 4 cot => 12/4 = 3 */
.grid__column-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__column-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 41.6667%;
}

.grid__column-7 {
    padding-left: 5px;
    padding-right: 5px;
    width: 58.3333%;
}


.grid__column-9 {
    padding-left: 5px;
    padding-right: 5px;
    width: 75%; 
    /* 100/12 * socot */
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/* Animation */

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from { 
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* Modal */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* animation: fadeIn  linear 0.1s; */
    display: none;
}

.modal.open{
    animation: fadeIn  linear 0.1s;
    display: flex;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin:auto;
    z-index: 1;
    animation: growth  linear 0.1s;
}

/* Button style */
.btn{
    min-width: 124px;
    height:36px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.05);
}

.btn.btn--size-s{
    height:32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color)
}

.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color:#c3c3c3
}

/* Selection */

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 0 12px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.select-input:hover .select-input-list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    position: relative;
    top: 1px;
}

.select-input-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style:none;
    display: none;
    z-index: 1;
}

.select-input-list::before {
    position: absolute;
    content: "";
    display: block;
    height:10px;
    top: -5px;
    right: 0;
    left: 0;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 0;
    display: block;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    list-style: none;
}

.pagination-item {
    margin: 0 14px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color:#f65d53;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    color: #939393;
    font-size: 1.8rem;
    font-weight: 300;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    cursor: pointer;
}

.pagination-item__icon {

}

/* Display */

.hide{
    display: none !important
}

.show{
    display: block; 
}
